body, html {
  height: 100%;
}

.container {
  background: url("../../static/bg_home_helmet.png") no-repeat center center fixed;
  background-size: cover;
  padding: 15em;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: var(--text-display);
  color: var(--text-color-secondary);
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut > strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}
